In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv('weather_data/cities.csv')

In [3]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Smidovich,RU,2020-03-31 01:36:34,48.60,133.82,40.05,76,100,5.48
1,1,Nikolskoye,RU,2020-03-31 01:34:13,59.70,30.79,28.99,78,3,4.47
2,2,Mataura,NZ,2020-03-31 01:33:22,-46.19,168.86,69.01,57,0,1.99
3,3,Olafsvik,IS,2020-03-31 01:36:34,64.89,-23.71,41.83,91,100,24.79
4,4,Yellowknife,CA,2020-03-31 01:33:29,62.46,-114.35,5.00,42,20,12.75

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
gmaps.configure(api_key=g_key)
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30,31), zoom_level =1.5 )
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights =  temps, dissipating=False, max_intensity=300, point_radius=4)
# 5 Add the ehatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create a % humidity heatmap
# Add the latitude and longitude to locations 
locations = city_data_df[['Lat', 'Lng']]
# Add humidity as weight
humidity = city_data_df['Humidity']
# A ssign gmaps figure to fig
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
# Creat heat layer to be added as a gmap klayer to fig
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Smidovich,RU,2020-03-31 01:36:34,48.60,133.82,40.05,76,100,5.48
1,1,Nikolskoye,RU,2020-03-31 01:34:13,59.70,30.79,28.99,78,3,4.47
2,2,Mataura,NZ,2020-03-31 01:33:22,-46.19,168.86,69.01,57,0,1.99
3,3,Olafsvik,IS,2020-03-31 01:36:34,64.89,-23.71,41.83,91,100,24.79
4,4,Yellowknife,CA,2020-03-31 01:33:29,62.46,-114.35,5.00,42,20,12.75

In [8]:
# Make cloudiness heatmap
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
# Assign gmaps figure
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Smidovich,RU,2020-03-31 01:36:34,48.60,133.82,40.05,76,100,5.48
1,1,Nikolskoye,RU,2020-03-31 01:34:13,59.70,30.79,28.99,78,3,4.47
2,2,Mataura,NZ,2020-03-31 01:33:22,-46.19,168.86,69.01,57,0,1.99
3,3,Olafsvik,IS,2020-03-31 01:36:34,64.89,-23.71,41.83,91,100,24.79
4,4,Yellowknife,CA,2020-03-31 01:33:29,62.46,-114.35,5.00,42,20,12.75

In [10]:
# Create the wind speed heat map
# Add lat and long for for locations
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
# Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=wind, max_intensity=300, dissipating=False)
# Add layer to figure
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
min_temp = float(input("What is the minimum temperature you would like for your trip"))
max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum temperature you would like for your trip 75
What is the maximum temperature you would like for your trip 90

In [12]:
preferred_city_df = city_data_df.loc[(city_data_df['Max Temp'] >= 75)&(city_data_df['Max Temp'] <=90)]

In [13]:
preferred_city_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Rikitea,PF,2020-03-31 01:33:28,-23.12,-134.97,78.48,75,29,4.85
12,12,Puerto Ayora,EC,2020-03-31 01:32:41,-0.74,-90.35,80.01,80,21,3.00
21,21,Hithadhoo,MV,2020-03-31 01:33:23,-0.60,73.08,83.55,66,57,10.31
26,26,Texistepec,MX,2020-03-31 01:36:41,17.88,-94.78,80.60,78,40,8.05
27,27,Acapulco,MX,2020-03-31 01:32:24,16.86,-99.89,82.40,74,20,6.93

In [14]:
preferred_city_df.notnull().sum()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [15]:
preferred_city_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [16]:
hotel_df = preferred_city_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df

                      City Country  Max Temp    Lat     Lng
7                  Rikitea      PF     78.48 -23.12 -134.97
12            Puerto Ayora      EC     80.01  -0.74  -90.35
21               Hithadhoo      MV     83.55  -0.60   73.08
26              Texistepec      MX     80.60  17.88  -94.78
27                Acapulco      MX     82.40  16.86  -99.89
..                     ...     ...       ...    ...     ...
573                  Kiama      AU     78.01 -34.68  150.87
575               Meulaboh      ID     84.40   4.14   96.13
579           Port Augusta      AU     75.00 -32.50  137.77
581  Chapada Dos Guimaraes      BR     80.60 -15.46  -55.75
582                   Paka      MY     82.40   4.64  103.44

[175 rows x 5 columns]

In [20]:
params = {'radius': 5000, 'type': 'lodging', 'key': g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
# Store the DataFrame Row.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))