In [55]:
# Import pandas
import pandas as pd
import gmaps
import gmaps.datasets
from config import g_key2
import os

In [8]:
load_file = os.path.join("Resources", "WeatherPy_vacation.csv")

In [9]:
vacation_destinations_df = pd.read_csv(load_file)

In [14]:
vacation_destinations_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
0,3,Hilo,US,80.60,19.73,-155.09,clear sky,Hilo Hawaiian Hotel
1,5,Benguela,AO,76.78,-12.58,13.41,scattered clouds,Hotel Praia Morena
2,14,Vaini,TO,84.20,-21.20,-175.20,broken clouds,Keleti Beach Resort
3,15,Villa Bruzual,VE,89.29,9.33,-69.12,overcast clouds,Hotel Turen
4,16,Puerto Ayora,EC,84.20,-0.74,-90.35,few clouds,Finch Bay Galapagos Hotel

In [18]:
find_country = vacation_destinations_df.loc[vacation_destinations_df['Country'] == 'ID' ]
find_country.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
74,219,Maumere,ID,83.62,-8.62,122.21,few clouds,Sylvia Hotel
83,240,Pemangkat,ID,78.40,1.17,108.97,scattered clouds,Kost H.Syamsuddin
98,304,Atambua,ID,79.16,-9.11,124.89,broken clouds,Pondok Pesantren Al Muhajirin Atambua
102,328,Banjar,ID,78.80,-8.19,114.97,few clouds,The Hamsa Resort
106,345,Karaton,ID,78.80,-6.34,106.10,scattered clouds,Parkir Mobil Wisata CAS Water Park

In [19]:
city_1_df = vacation_destinations_df.loc[vacation_destinations_df['City'] == 'Karaton' ]
city_1_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
106,345,Karaton,ID,78.8,-6.34,106.1,scattered clouds,Parkir Mobil Wisata CAS Water Park

In [20]:
city_2_df = vacation_destinations_df.loc[vacation_destinations_df['City'] == 'Bambanglipuro']
city_2_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
123,404,Bambanglipuro,ID,79.72,-7.95,110.28,scattered clouds,Puri Brata

In [21]:
city_3_df = vacation_destinations_df.loc[vacation_destinations_df['City'] == 'Mlonggo']
city_3_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
116,380,Mlonggo,ID,77.0,-6.53,110.7,thunderstorm with rain,Asia Metal Art

In [22]:
city_4_df = vacation_destinations_df.loc[vacation_destinations_df['City'] == 'Paciran']
city_4_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
140,438,Paciran,ID,80.76,-6.88,112.38,broken clouds,Tanjung Kodok Beach Resort

In [47]:
karaton_lat = city_1_df.iloc[0]['Lat']
karaton_lng = city_1_df.iloc[0]['Lng']
print("Karaton Latitude: " + str(karaton_lat))
print("Karaton Longitude: " + str(karaton_lng))
karaton = (karaton_lat, karaton_lng)
print("Karaton Coordinates: " + str(karaton))

Karaton Latitude: -6.34
Karaton Longitude: 106.1
Karaton Coordinates: (-6.34, 106.1)

In [49]:
bamb_lat = city_2_df.iloc[0]['Lat']
bamb_lng = city_2_df.iloc[0]['Lng']
print("Bambanglipuro Latitude: " + str(bamb_lat))
print("Bambanglipuro Longitude: " + str(bamb_lng))
bamb = (bamb_lat,bamb_lng)
print("Bambanglipuro Coordinates: " + str(bamb))

Bambanglipuro Latitude: -7.95
Bambanglipuro Longitude: 110.28
Bambanglipuro Coordinates: (-7.95, 110.28)

In [51]:
mlon_lat = city_3_df.iloc[0]['Lat']
mlon_lng = city_3_df.iloc[0]['Lng']
print("Mlonggo Latitude: " + str(mlon_lat))
print("Mlonggo Longitude: " + str(mlon_lng))
mlon = (mlon_lat, mlon_lng)
print("Mlonggo Coordinates: " + str(mlon))

Mlonggo Latitude: -6.53
Mlonggo Longitude: 110.7
Mlonggo Coordinates: (-6.53, 110.7)

In [43]:
paciran_lat = city_4_df.iloc[0]['Lat']
paciran_lng = city_4_df.iloc[0]['Lng']
print(paciran_lat)
print(paciran_lng)
paciran = (paciran_lat, paciran_lng)
print(paciran)

-6.88
112.38
(-6.88, 112.38)

In [67]:
gmaps.configure(api_key=g_key2)
fig = gmaps.figure()
karaton_to_paciran = gmaps.directions_layer(karaton, paciran, waypoints=[bamb, mlon], travel_mode='DRIVING')
fig.add_layer(karaton_to_paciran)
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
trip_route_df_1 = city_1_df.append(city_2_df)

In [74]:
trip_route_df_2 = trip_route_df_1.append(city_3_df)

In [76]:
trip_route_df = trip_route_df_2.append(city_4_df)
trip_route_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Weather,Hotel Name
106,345,Karaton,ID,78.80,-6.34,106.10,scattered clouds,Parkir Mobil Wisata CAS Water Park
123,404,Bambanglipuro,ID,79.72,-7.95,110.28,scattered clouds,Puri Brata
116,380,Mlonggo,ID,77.00,-6.53,110.70,thunderstorm with rain,Asia Metal Art
140,438,Paciran,ID,80.76,-6.88,112.38,broken clouds,Tanjung Kodok Beach Resort